*{
  margin: 0;
  padding: 0;
} <h1 style="color:blue;">A Blue Heading</h1>
 {
  display: block;
  max-width: 100%;
}
img {
 max-width: 100%;
 max-height: 100%;
}
.dog {
 height: 200px;
 width: 200px;
}
{ <title>
size: 120px;
word-spacing: 200;
}
 